body{
    width: 95vw;
    height: 95vh;
}
h2{
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
.main{
    position: relative;
    width: 95%;
    height: 60%;
}
.second{
    position: relative;
    margin: auto;
    width: 60%;
    height: 15%;
}
td{
    width: 45px;
    height: 45px;
}
a{
    text-decoration: none;
    color: #000;
}
.space{
    width: 10px;
}
.descSize{
    width: 15px;
    height: 15px;
}
.colorGreen{
    background-color: yellowgreen;
}
.colorGreen:hover{
    box-shadow: 0px 0px 10px yellowgreen;
}
.colorRed{
    background-color: red;
    color: #fff;
}
.colorRed a{
    color: #fff;
}
.colorRed:hover{
    box-shadow: 0px 0px 10px red;
}
.colorOrange{
    background-color: orange;
}
.colorOrange a{
    color: #fff;
}
.colorOrange:hover{
    box-shadow: 0px 0px 10px orange;
}
.colorBlue{
    background-color: lightblue;
}
.colorBlue:hover{
    box-shadow: 0px 0px 10px lightblue;
}
.colorBlueRoyal{
    background-color: royalblue;
}
.colorBlueRoyal:hover{
    box-shadow: 0px 0px 10px royalblue;
}
.colorPurple{
    background-color: mediumpurple;
}
.colorPurple:hover{
    box-shadow: 0px 0px 10px mediumpurple;
}
.colorYellow{
    background-color: gold;
}
.colorYellow:hover{
    box-shadow: 0px 0px 10px gold;
}
.colorPink{
    background-color: lightpink;
}
.colorPink:hover{
    box-shadow: 0px 0px 10px lightpink;
}
.colorGreenBlue{
    background-color: darkcyan;
}
.colorGreenBlue:hover{
    box-shadow: 0px 0px 10px darkcyan;
}
.colorGray{
    background-color: gray;
}
.colorGray:hover{
    box-shadow: 0px 0px 10px gray;
}